@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,200;0,300;0,600;1,300;1,500;1,600;1,700&display=swap');
body {
    padding: 0px;
    margin: 0px;
    background-image: url(../assets/images/home.jpeg);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 100%;
    border: none;
  
}

/* title  */
h1 {
    
    text-align: center;
    color: white;
}

hr {
    color: black;
    width: 100px;
    height: 5px;
    background-color:black;
    border: none;
    position: relative;
    right: 1%;
    bottom: 20px;
}
/* menu and menu items  */
.menu {
    position: fixed;
    float: left;
    height: auto;
    width: 20%;
    margin-left: 2%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.menu h2 {
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
}

.menu>nav>ul>li {
    list-style: none;
    padding: 7px;
    cursor: pointer;
}

nav ul li:hover {
    background-color: #F19F21;
    transition: all 0.3s ease;
    color: white;
}
/* main container  */
.display-area {
    position: relative;
    left: 25%;
    width: 70%;
    background-color: white;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.display-area h2 {
    font-family: 'cursive', sans-serif;
    margin-top: 5%;
    margin-left: 45%;
}

#display img {
    height: 225px;
    width: 225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}