@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,200;0,300;0,600;1,300;1,500;1,600;1,700&display=swap');
body {
    padding: 0px;
    margin: 0px;
    background-image: url(../assets/images/home.jpeg);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 100%;
    border: none;
  
}

/* title  */
h1 {
    
    text-align: center;
    color: white;
}

hr {
    color: black;
    width: 100px;
    height: 5px;
    background-color:black;
    border: none;
    position: relative;
    right: 1%;
    bottom: 20px;
}
/* menu and menu items  */
.menu {
    position: fixed;
    float: left;
    height: auto;
    width: 20%;
    margin-left: 2%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.menu h2 {
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
}

.menu>nav>ul>li {
    list-style: none;
    padding: 7px;
    cursor: pointer;
}

nav ul li:hover {
    background-color: #F19F21;
    transition: all 0.3s ease;
    color: white;
}
/* main container  */
.display-area {
    position: relative;
    left: 25%;
    width: 70%;
    background-color: white;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.display-area h2 {
    font-family: 'cursive', sans-serif;
    margin-top: 5%;
    margin-left: 45%;
}

#display img {
    height: 225px;
    width: 225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.price {
    /*margin-left: 60%;*/
    background-color: orange;
    width: 8%;
    color: white;
    padding: 7px;
    border-radius: 5px;
}

/* rating  */
.rating {
    margin-left: 70%;
    position: relative;
    bottom: 50px;
}

.orderBtn {
    background-color: green;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
  
}
.buttons {
    display: flex;
    justify-content: space-evenly;
}

#description {
    margin-left: 25%;
}

/* .reviews  */
.reviews {
    position: relative;
    left: 25%;
    width: 40%;
}

.reviews h3 {
    font-size: medium;
}

.reviews ul li {
    list-style: none;
    background-color: #f5ae45;
    margin-left: 0px;
    margin-bottom: 10px;
    width: auto;
    padding: 5px;
    cursor: pointer;
}
/* form  */
form {
    width: 50%;
    margin: 0 auto 50px auto;
    margin-bottom: 30px;
}

textarea {
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid gray;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

.btn {
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: none;
}
.btn:hover{
    color: #222;
    background-color: aqua;
    
}